@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");


:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #20113e;
  color: #f1f1f1;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  width: 450px;
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.wrapper {
  width: 100%;
  border-radius: 5px;
}

form input {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  background-color: #170e2b;
  color: #fff;
}

.todo {
  background-color: #2a1652; 
  margin: 40px 0;
  border-radius: 5px;
  border: 2px solid #2a1652;
}


ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #20113e;
  margin: 1px 0;
  padding: 15px 20px;
  font-size: 1.6rem;
  list-style: none;
}

ul li:last-child{
  border-bottom: none;
}

.fa-solid  {
  font-size: 1.6rem;
  color: #f1f1f1;
  cursor: pointer;
}

.filtered {
  display: none;
}

.search::placeholder {
  font-size: 1.6rem;
}